.app.light {
  --bg-color: rgb(247, 247, 247);
  --inverted-bg-color: rgb(1, 1, 78);


  --primary-color: #0232c2;
  --secondary-color: #0449e0;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}